module {{.ModuleName}}

go 1.23

require (
	github.com/wailsapp/wails/v2 v2.9.2
	github.com/rediwo/redi {{.RediVersion}}
{{- range .Extensions}}
	{{.}} latest
{{- end}}
)

{{if .IsSourceInstall}}replace github.com/rediwo/redi => {{.ReplaceDir}}{{end}}