module {{.BinaryName}}

go 1.21

require (
	github.com/rediwo/redi {{.RediVersion}}
	{{- range .Extensions }}
	{{ . }} v0.0.0
	{{- end }}
)

{{if .IsSourceInstall}}
replace github.com/rediwo/redi => {{.ReplaceDir}}
{{end}}